html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    position: relative;
    display: table;
    vertical-align: middle;
}

#centre1 {
    display: table-cell;
    vertical-align: middle;
}